<div ng-repeat="statustags in imagestream.status.tags">
  <div ng-repeat="condition in statustags.conditions"
      ng-if="condition.type == 'ImportSuccess' && condition.status == 'False'"
      class="alert alert-danger">
    <span class="pficon pficon-error-circle-o"></span>
    <span translate>{{ condition.message }}. Timestamp: {{ condition.lastTransitionTime }} Error count: {{ condition.generation }}</span>
    <a translate ng-if="imagestreamModify" ng-click="imagestreamModify(imagestream)"
        class="alert-link">Edit image stream</a>
  </div>
</div>
<dl class="dl-horizontal left">
    <dt translate ng-if="projectSharing">Access Policy</dt>
    <dd ng-if="projectSharing" ng-switch="projectSharing(imagestream.metadata.namespace)">
      <div ng-switch-when="anonymous" >
        <a translate ng-if="projectModify" ng-click="projectModify(imagestream.metadata.namespace)">Images may be pulled by anonymous users</a>
        <span translate ng-if="!projectModify">Images may be pulled by anonymous users</span>
        <i title="Images accessible to anonymous users" class="fa fa-unlock registry-imagestream-lock"></i>
      </div>
      <div ng-switch-when="shared" >
        <a translate ng-if="projectModify" ng-click="projectModify(imagestream.metadata.namespace)">Images may be pulled by any authenticated user or group</a>
        <span translate ng-if="!projectModify">Images may be pulled by any authenticated user or group</span>
        <i title="Images accessible to authenticated users" class="fa fa-lock registry-imagestream-lock"></i>
      </div>
      <div ng-switch-when="private">
        <a translate ng-if="projectModify" ng-click="projectModify(imagestream.metadata.namespace)">Images may only be pulled by specific users or groups</a>
        <span translate ng-if="!projectModify">Images may only be pulled by specific users or groups</span>
        <i title="Images only accessible to members" class="fa fa-lock registry-imagestream-lock"></i>
      </div>
      <div ng-switch-default>
        <a translate ng-if="projectModify" ng-click="projectModify(imagestream.metadata.namespace)">Unknown</a>
        <span translate ng-if="!projectModify">Unknown</span>
        <i title="Unknown or invalid image access policy" class="fa fa-lock registry-imagestream-lock"></i>
      </div>
    </dd>
    <dt translate ng-if-start="imagestream.spec.dockerImageRepository">Follows docker repo:</dt>
    <dd ng-if-end><tt>{{imagestream.spec.dockerImageRepository}}</tt></dd>
    <dt>Pulling repository:</dt>
    <dd><tt>{{imagestream.status.dockerImageRepository}}</tt></dd>
    <dt translate>Image count</dt>
    <dd>{{imagestream.status.tags.length}}</dd>
</dl>
