<table class="listing-ct">
    <thead>
        <tr>
            <th class="listing-ct-toggle"></th>
            <th translate="yes" width="20%">Name</th>
            <th translate="yes">Tags</th>
            <th translate="yes">Repository</th>
        </tr>
    </thead>
    <tbody ng-repeat="(link, imagestream) in imagestreams track by link | orderBy : 'link'"
           ng-if="imagestreams"
           data-id="{{ imagestream.metadata.namespace + '/' + imagestream.metadata.name }}"
           class="active" ng-class="{open: imagestreamExpanded(imagestream)}">
        <tr ng-click="imagestreamActivate(imagestream, null, $event)" class="listing-ct-item imagestream-item">
            <td ng-click="imagestreamToggle(imagestream, null, $event)" class="listing-ct-toggle">
                <i class="fa fa-fw"></i>
            </td>
            <th>
                {{ imagestream.metadata.namespace + '/' + imagestream.metadata.name }}
                <div ng-repeat="statustags in imagestream.status.tags">
                    <span ng-repeat="condition in statustags.conditions"
                          ng-if="condition.type == 'ImportSuccess' &amp;&amp; condition.status == 'False'"
                          class="pficon pficon-warning-triangle-o"></span>
                </div>
            </th>
            <td ng-init="tag_count = imagestreamTags(imagestream).length">
                <a ng-repeat="tag in imagestreamTags(imagestream) | orderBy : 'tag.name' | limitTo: 4" class="registry-image-tag" ng-click="imagestreamActivate(imagestream, tag, $event)" title="{{tag.name }}">{{ tag.name }}</a>
                <span ng-if="tag_count > 4" translate-n="tag_count - 4" translate translate-plural="and {{ $count }} others">and {{ $count }} other</span>
            </td>
            <td>
                  <span ng-if="!imageStream.status.dockerImageRepository && !imageStream.spec.dockerImageRepository"><em translate>unknown</em></span>
                  <span ng-if="imageStream.status.dockerImageRepository || imageStream.spec.dockerImageRepository">{{imageStream.status.dockerImageRepository || imageStream.spec.dockerImageRepository}}</span>
            </td>
        </tr>
        <tr class="listing-ct-panel" ng-if="imagestreamExpanded(imagestream)">
            <td colspan="4">
                <registry-imagestream-panel></registry-imagestream-panel>
            </td>
        </tr>
    </tbody>
    <thead class="listing-ct-empty" ng-if="!quiet">
        <tr>
            <td colspan="4" ng-if="!failure && (!imagestreams || !imagestreams.length)" translate="yes">No image streams are present.</td>
            <td colspan="4" ng-if="failure">{{failure}}</td>
        </tr>
    </thead>
</table>
