<table class="listing-ct">
    <thead>
        <tr>
            <th class="listing-ct-toggle"></th>
            <th translate="yes" width="20%">Tag</th>
            <th translate="yes">From</th>
            <th translate="yes">Identifier</th>
            <th translate="yes">Last Updated</th>
        </tr>
    </thead>

    <tbody ng-repeat="tag in imagestreamTags(imagestream) | orderBy : 'tag.name'"
           ng-if="imagestream"
           data-id="{{ imagestream.metadata.namespace + '/' + imagestream.metadata.name + ':' + tag.name }}"
           ng-class="{open: imagestreamExpanded(imagestream, tag), last: $last, first: $first}">
        <tr ng-click="imagestreamActivate(imagestream, tag, $event)" class="listing-ct-item registry-listing">
            <td ng-click="imagestreamToggle(imagestream, tag, $event)" class="listing-ct-toggle">
                <i class="fa fa-fw"></i>
            </td>
            <th>
                <a class="registry-image-tag" ng-href="{{ imagestreamPath(imagestream, tag) }}" title="{{tag.name }}">{{ tag.name }}</a>
            </th>
            <td ng-init="name = imagestreamTagFromName(imagestream, tag.spec.from)">
                <div ng-if="!name || !tag.spec.from"><em>pushed image</em></div>
                <div ng-if="name" title="{{tag.spec.from.name}}">
                    <span ng-if="!name[0]">{{tag.spec.from.name}}</span>
                    <span ng-if="name[0]">
                        <span ng-if="name[0] === imagestream.metadata.name">{{name.qualified}}</span>
                        <span ng-if="name[0] !== imagestream.metadata.name">
                            <a ng-click="imagestreamActivate({ metadata: { namespace: tag.spec.from.namespace, name: name[0] }}, name[1], $event)">{{tag.spec.from.name}}</a>
                        </span>
                    </span>
                </div>
            </td>
            <td class="image-identifier">
                <div class="row" ng-init="annotations = imagestream.metadata.annotations">
                    <div class="col col-xs-12" ng-if="!tag.status">
                        <div ng-if="annotations['openshift.io/image.dockerRepositoryCheck']">
                            <span class="pficon pficon-warning-triangle-o" style="margin-right: 5px;"
                                ng-attr-title="{{annotations['openshift.io/image.dockerRepositoryCheck']}}"></span>
                            <span translate="yes">Unable to resolve</span>
                        </div>
                        <div ng-if="!annotations['openshift.io/image.dockerRepositoryCheck']">
                            <span ng-if="!tag.spec.from" translate="yes">Not yet synced</span>
                            <!-- We have no idea why in this case -->
                            <span ng-if="tag.spec.from" translate="yes">Unresolved</span>
                        </div>
                    </div>
                    <div class="col col-xs-12" ng-if="tag.status">
                        <span ng-if="tag.status.items.length &amp;&amp; tag.status.items[0].image">
                            <tt title="{{tag.status.items[0].image}}">{{tag.status.items[0].image}}</tt>
                        </span>
                        <span ng-if="!tag.status.items.length"><em translate="yes">none</em></span>
                    </div>
                </div>
            </td>
            <td>
                <div title="{{ tag.items[0].created }}">
                    <span ng-if="tag.status.items.length &amp;&amp; tag.status.items[0].image" title="{{ tag.items[0].created }}">
                        {{ tag.status.items[0].created | dateRelative }}
                    </span>
                </div>
            </td>
        </tr>
        <tr class="listing-ct-panel" ng-if="imagestreamExpanded(imagestream, tag)" ng-repeat-end="">
            <td colspan="5">
                <registry-image-panel ng-init="tag = tag.status"></registry-image-panel>
            </td>
        </tr>
    </tbody>
    <thead class="listing-ct-empty" ng-if="!quiet">
        <tr>
            <td colspan="5" ng-if="!failure && !imagestreamTags(imagestream).length" translate="yes">No tags are present.</td>
            <td colspan="5" ng-if="failure">{{failure}}</td>
        </tr>
    </thead>
</table>
